body {
  padding: 0;
  margin: 0;
  font-family: 'Aclonica';font-size: 22px;
}
.content {
  --positionX: 0;
  --positionY: 0;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(9, 1fr);
  height: 100vh;
  background-color:cadetblue;
}
.gridLinks{
  font-size: xx-large;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
a{
  color: inherit;
}
.gridLinks:hover{
  background-image: url(../resources/dawg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




.cell{
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  z-index: 2;
}
.girl{
  --positionX: 0;
  --positionY: 0;
  position: absolute;
  top: 32%; right: 0; bottom: 32%; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../resources/NimeGirl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.girl .blackDotRight::before{
  width: 0.8vmin;
  height: 0.8vmin;
  border-radius: 100%;
  content: " ";
  position: absolute;
  top: 50.5%;
  // right: calc(49.9% - 5vh);
  left: calc(49.9% + 5vh);
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  background: black;
}
.girl .blackDotLeft::before{
  width: 0.8vmin;
  height: 0.8vmin;
  border-radius: 5px;
  content: " ";
  position: absolute;
  top: 50.50%;
  // left: 48.43%;
  left: calc(49.9% - 3.2vh);
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  background: black;
}
.cell:nth-child(14):hover ~ .girl .blackDotRight:before,.cell:nth-child(14):hover ~ .girl .blackDotLeft:before{
  width: 2vmin;
  height: 2vmin;
  border-radius: 100%;
}

@for $i from 0 to 9 {
  .cell:nth-child(#{1+$i}):hover ~ .girl .blackDotRight:before,.cell:nth-child(#{1+$i}):hover ~ .girl .blackDotLeft:before{
    transform: translate(#{-150%+$i*25}, -150%);
  }
  .cell:nth-child(#{19+$i}):hover ~ .girl .blackDotRight:before,.cell:nth-child(#{19+$i}):hover ~ .girl .blackDotLeft:before{
      transform: translate(#{-150%+$i*33.33333333}, 150%);
  }
  .cell:nth-child(#{10+$i}):hover ~ .girl .blackDotRight:before,.cell:nth-child(#{10+$i}):hover ~ .girl .blackDotLeft:before{
    transform: translate(#{-150%+$i*25}, -50%);
  }

   }